.container{
  display: inline-block;
  widht: 300px;
  heigth: 372px;
  position: relative;
}
.container > span{
  background-color: green;
  position: absolute;
  padding: 5px 10px;
  top: 0;
  right: 0;
  font-size: 20px;
  color: orange;
  font-weight: bold;
}

.cuore{
  font-size: 30px;
  color:red;
  position: absolute;
  bottom:10px;
  left: 50%;
  opacity: 0;

}

.container:hover .cuore{
    opacity: 1;
}

.container .hot_red{
  background-color: red;
  color:white;
  font-weight: bold;
}
